<%= render 'shared/content_title', title: 'Please Log In' %>
<div class ='well'>
  <%= form_tag('/login', method: 'post') do %>
    <div class='control-group'>
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>
    <div class='control-group'>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class='control-group'>
      <%= submit_tag('Login', class: 'btn btn-success') %>
    </div>
  <% end %>
</div>
