<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>

<div class='well'>
  <dl class='dl-horizontal'>
    <dt>Username:</dt>
    <dd><%= @user.username %>
      <% if @user.is_admin? %>
        <strong>(admin)</strong>
      <% end %>
    </dd>
    <dt>Time Zone:</dt>
    <dd><%= @user.timezone %><dd>
  </dl>
</div>

<h5><%= @user.username %>'s activity:</h5>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#user_posts" data-toggle="tab">Posts (<%= @user.posts.size %>)</a>
  </li>
  <li>
    <a href="#user_comments" data-toggle="tab">Comments (<%= @user.comments.size %>)</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="user_posts">
    <div id='post_vote_error' class='alert alert-error' style='display:none'>
      <a class='close ajax_close'>x</a>
      <span>You can only vote once.</span>
    </div>
    <%= render @user.sorted_posts %>
  </div>
  <div class="tab-pane" id="user_comments">
    <div id='comment_vote_error' class='alert alert-error' style='display:none'>
      <a class='close ajax_close'>x</a>
      <span>You can only vote once.</span>
    </div>
    <%= render @user.sorted_comments, refer_to_post: true %>
  </div>
</div>
