<p class ='pull-right'>
  [<%= link_to 'Edit Post', edit_post_path(@post) %>]
</p>

<p>
  <%= render @post.categories %>
</p>
<%= render 'shared/content_title', title: @post.title %>
<p>
  <%= @post.description %>
  <hr />
</p>
<%= render 'shared/validation_errors', submission: @comment %>
<%= form_for [@post, @comment] do |f| %>
<div class='control-group'>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <br/>
  <%= f.submit 'Share', class: 'btn btn-primary' %>
</div>
<% end %>

<%= render @post.comments %>
